@charset "utf-8";
/* CSS Document */
.login-title {
	background-color: #ccc;
	color: #555555;
	text-align: center;
	height: 64px;
	line-height: 64px;
}
h4 {
	font-weight: bold;
	color: #555555;
}
input[type=email],input[type=pasword] {
	width: 100%;
}